@import "tailwindcss";

:root {
  --background: #fff18d;
  --foreground: #171717;
  --primary: #415440;
  --secondary: #e9ecef;
  --text: #0b1b1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text: var(--text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #415440;
    --secondary: #e9ecef;
    --text: #0b1b1a;
  }
}

@layer base {
  body {
    @apply font-poppins bg-white text-text;
  }
}
@layer components {
  .button {
    @apply rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;
  }
}
@layer utilities {
  .text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
